body {
    padding-top: 5rem;
}

.profile_card{
    
    border: 1px lightgray solid;
    border-radius: 15px;
    box-shadow: 1px;
    color: gray;
    text-align: center;
    width: 40%;
    
}

.profcard > img {
    width: 150px;
    height: 150px;
}
.profcard{
    padding: 5rem 5rem .5rem 5rem;
    border-radius: 15px 15px 0 0;
    background-color: palevioletred;
    color: white;
}

.content{
    padding: 1rem 5rem 2rem 5rem;
    background-color: rgb(255, 244, 233);
    border-radius: 0 0 15px 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats{
    display: flex;
    flex-direction: row;
    
}
.stats > div{
    margin: 1rem;
}

strong{
    color:black;
}

.follow{
    background-color: pink;
    color: white;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border: none;
}