{% extends "base.html" %}


{% block main %}

<div class="profile_card">
    <div class="profcard">
        <img src="{{ url_for('static', filename='images/profpic.png') }}"></img>
        <h1>Mary Jane</h1>
        <p>@mjane <br> Kingston,Jamaica <br> Joined {{date_joined}} </p>
    </div>
    <div class="content">
        <p>I am smart and talented young woman who loves website design and development. <br> Contact me if you'd like to work together on a new project.</p>
        <div class="stats">
            <div> <strong>7</strong> Posts </div>
            <div> <strong>100</strong> Following </div>
            <div> <strong>250</strong> Followers </div>
            
        </div>
        <button class="follow">Follow</button>
    </div>

</div>

{% endblock %} 